@import "tailwindcss";

/* loading bar animation */
@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.loading-bar {
    animation: loading 3s ease-in-out infinite;
    /* fixed time, should be based on the api call */
}